name: Lab-2
on: 
  schedule:
    # Executa as 8:20 am
    - cron: '20 11 * * *'
  workflow_dispatch: 

jobs:
  schedule-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v4 
      
      - name: Informação do schedule
        run: |
          echo "Workflow disparado por SCHEDULE"
          echo "Data atual: $(date)"
          echo "Hora UTC: $(date -u)"
          echo "Timezone: $(date +%Z)"

      - name: Relatório diário automatizado
        run: |
          echo "Relatório diário"
          echo "==========================="
          echo "Total de commits: $(git rev-list --all --count)"
          echo "Contribuidores únicos: $(git shortlog -sn | wc -l)"
          echo "último commit: $(git log -1 --pretty=format: '%h -%s (%an, %ar)')"
